<section class="card">
  <div class="card-body">
    <section class="flex-column justify-center">
      <form action="/newblog" method="post">
        <div>
          <label for="newblog">Comment:</label>
          <textarea id="newblog" name="newblog" rows="20" required></textarea>
        </div>
        <div class="button">
          <button type="submit">Submit</button>
        </div>
      </form>
    </section>
    
    {{!TODO: pull username }}
  </div>
</section>