<section class="card">
  <div class="card-body">
    <section class="flex-column justify-center">
      <form id="blog-form">
        <div>
        <label for="title">Title:</label>
        <input class="form-input" type="text" id="new-title" />
          <label for="newblog">Content:</label>
          <textarea id="newblog" name="newblog" rows="20" required></textarea>
        </div>
        <div class="button">
          <button type="submit">Submit</button>
        </div>
      </form>
    </section>
  </div>
</section>

<script src="/js/blog-form.js"></script>